<div class="page">
    <!-- Main Navbar-->
    <app-navbar></app-navbar>
    <div class="page-content d-flex align-items-stretch">
       <app-sidenav></app-sidenav>
       <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
             <div class="container-fluid">
                <h2 class="no-margin-bottom">Usuarios</h2>
             </div>
          </header>
          <div *ngIf="successOnUpdate" class="alert alert-success" role="alert">
             <strong>{{alertMessage}}</strong>
          </div>
          <div *ngIf="errorOnUpdate" class="alert alert-warning" role="alert">
             <strong>{{alertMessage}}</strong>
          </div>
          <section class="tables">
             <div class="container-fluid">
                <div class="col-lg-12">
                   <div class="card">
                      <div class="card-header d-flex align-items-center">
                         <h3 class="h4">USUARIOS</h3>
                      </div>
                      <div class="card-body">
                         <button type="button" (click)="updateUsers()" class="btn btn-primary">Refrescar</button>
                         <div class="table-responsive">
                            <ng2-smart-table *ngIf="!onCreateMode" [settings]="settings" (createConfirm)="onCreateConfirm($event)" (editConfirm)="onEditConfirm($event)"
                            (deleteConfirm)="onDeleteConfirm($event)" [source]="source"></ng2-smart-table>
                            <div *ngIf="onCreateMode" style="text-align: center;">
                               <div class="spinner-outer">
                                  <div class="spin"></div>
                               </div>
                               CREANDO EL USUARIO
                            </div>
                         </div>
                      </div>
                   </div>
                   <strong>*Cuando estes creando un usuario no ingreses ningun 'ID', el sistema lo agrega automaticamente. (El campo DOCUMENTOS
                   se llenara automaticamente con el boton correspondiente al igual que el campo ADMINISTRADOR)</strong>
                   <!-- Button trigger modal -->
                   <button type="button" (click)="onInitUpload()" id="btnLM" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
                      hidden></button>
                   <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;" role="document">
                         <div class="modal-content">
                            <div class="modal-header">
                               <h5 class="modal-title" id="exampleModalLongTitle">Usuario: {{uploadUserName}} || RUT: {{uploadUserRut}}</h5>
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                               </button>
                            </div>
                            <div class="modal-body">
                               <div *ngIf="!onUploadMode && !onFinishUpload" class="form-group">
                                  <label for="fileName">Nombre del archivo:</label>
                                  <input type="text" [(ngModel)]="documFileName" class="form-control" id="fileName" aria-describedby="fileNameHelp" placeholder="Ingrese el nombre del archivo...">
                                  <small id="fileNameHelp" class="form-text text-muted">Por favor ingrese un nombre que sea referente al archivo a subir, sin puntos ni caracteres especiales
                                  (la extension del archivo se adjuntara automaticamente).</small>
                               </div>
                               <div *ngIf="!onUploadMode && !onFinishUpload" class="form-group">
                                  <label for="exampleInputFile">Archivo:</label>
                                  <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                  <small id="fileHelp" class="form-text text-muted">Por favor suba los archivos en formato PDF.</small>
                               </div>
                               <button *ngIf="!onUploadMode && !onFinishUpload" type="submit" (click)="onStartUpload()" class="btn btn-primary">Vista Previa</button>
                               <div *ngIf="onPreviewMode && !onUploadMode && !onFinishUpload" style="text-align: center;" class="form-group">
                                  <div style="margin-bottom: 2em; margin-top: 2em;" class="alert alert-info" role="alert">
                                     <strong>Vista Previa Documento</strong>
                                  </div>
                                  <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false" [fit-to-page]="true" style="display: block;"></pdf-viewer>
                               </div>
                               <div class="form-group">
                                  <div *ngIf="uploadDocumError" class="alert alert-danger" role="alert">
                                     <strong>{{uploadDocumErrorMessage}}</strong>
                                  </div>
                               </div>
                               <div class="form-group">
                               </div>
                               <div *ngIf="onUploadMode && !onFinishUpload" style="text-align: center;">
                                  <div class="spinner-outer">
                                     <div class="spin"></div>
                                  </div>
                                  SUBIENDO EL DOCUMENTO AL SISTEMA
                               </div>
                               <div *ngIf="onFinishUpload" style="text-align: center;">
                                  <div class="alert alert-info" role="alert">
                                     <strong>{{onFinishUploadMessage}}</strong>
                                  </div>
                               </div>
                            </div>
                            <div class="modal-footer">
                               <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                               <button type="button" *ngIf="!onUploadMode && !onFinishUpload" (click)="uploadFileToServer()" class="btn btn-primary">Subir Archivo</button>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </section>
          <!-- Page Footer-->
          <footer class="main-footer">
             <div class="container-fluid">
                <div class="row">
                   <div class="col-sm-6">
                      <p>&copy; 2018</p>
                   </div>
                   <div class="col-sm-6 text-right">
                      <p>
                         Dise&#241;ado por
                         <a href="#" class="external">Connect And Do</a>
                         <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                   </div>
                </div>
             </div>
          </footer>
       </div>
    </div>
 </div>
