.idCell{
    display: none;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);

  }
}


.spinner-outer {
  border:12px solid #2b65d9;
  width:60px;
  height:60px;
  margin:90px auto;
  border-radius:50%;
  border-bottom-left-radius:0;
}

.spin{
  border:6px solid #2b65d9;
  width:50%;
  height:50%;
  margin:14% auto;
  border-radius:50%;
  border-bottom-color:transparent;
  border-top-color:transparent;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 800ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

hr {
  height: 4px;
  margin-left: 15px;
  margin-bottom:-3px;
}
.hr-warning{
  background-image: -webkit-linear-gradient(left, rgba(210,105,30,.8), rgba(210,105,30,.6), rgba(0,0,0,0));
}
.hr-success{
  background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0));
}
.hr-primary{
  margin-bottom: 1em;
  background-image: -webkit-linear-gradient(left, rgba(121,106,238), rgba(121,106,238));
}
.hr-danger{
  background-image: -webkit-linear-gradient(left, rgba(244,67,54,.8), rgba(244,67,54,.6), rgba(0,0,0,0));
}
