<div class="page login-page">
    <div class="container d-flex align-items-center">
       <div class="form-holder has-shadow">
          <div class="row">
             <!-- Logo & Information Panel-->
             <div class="col-lg-6">
                <div class="info d-flex align-items-center">
                   <div class="content">
                      <div class="logo">
                         <h1>DOCUM</h1>
                      </div>
                      <p>Gestion de documentos medicos.</p>
                   </div>
                </div>
             </div>
             <!-- Form Panel    -->
             <div class="col-lg-6 bg-white">
                <div class="form d-flex align-items-center">
                   <div class="content">
                      <div class="form-group">
                         <input id="login-username" [(ngModel)] ="rut" type="text" name="loginUsername" required data-msg="Por favor ingrese su correo ..." class="input-material" autocomplete="off"/>
                         <label for="login-username" class="label-material">RUT</label>
                      </div>
                      <div class="form-group">
                         <input id="login-password" [(ngModel)] ="pwd" type="password" name="loginPassword" required data-msg="Por favor ingrese su password ..." class="input-material" autocomplete="off"/>
                         <label for="login-password" class="label-material">Password</label>
                      </div>
                      <a id="login" (click)="logIn()" class="btn btn-primary">Login</a>
                      <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                      <a href="#" class="forgot-pass">Olvido su password?</a><br>
                      <div *ngIf="isError" class="alert alert-danger" role="alert">
                         <strong>Ocurrio un error!</strong> {{errorMessage}}
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="copyrights text-center">
       <p>Dise&#241;ado por <a href="#" class="external">Connect And Do</a>
       </p>
    </div>
 </div>
